<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PMPA.Properties.Settings.PMPADBConnectionString" connectionString="Data Source=|DataDirectory|\PMPADB.sdf;Password=year1985"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="PMPA.Properties.Settings.PMPADBConnectionString1"
            connectionString="Data Source=|DataDirectory|\bin\Debug\PMPADB.sdf;Password=year1985;Persist Security Info=True"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>